<!doctype html>
<html class="no-jss" lang="">
    <body>
        <main>
            <!-- slider-area -->
            <section class="slider-area fix">
                <div class="shape-slider">
                    <img class="shape shape-1 " src="img/shape/shape1.png" alt="">
                    <img class="shape shape-2  " src="img/shape/shape2.png" alt="">
                    <img class="shape shape-3 " src="img/shape/shape3.png" alt="">
                    <img class="shape shape-4 " src="img/shape/shape4.png" alt="">
                    <img class="shape shape-5 " src="img/shape/shape5.png" alt="">
                    <img class="shape shape-6 " src="img/shape/shape6.png" alt="">
                </div>
                <div class="single-slider slider-height header-bg d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-6">
                                <div class="slider-text">
                                    <h2 class="wow fadeInUp animated" data-wow-delay="0.4s"><span>{{__ "homePage.section1.title"}}</span></h2>
                                    <h3 class="wow fadeInUp animated" data-wow-delay="0.4s">
                                        {{{__ "homePage.section1.subtitle1"}}}
                                        {{{__ "homePage.section1.subtitle2"}}}
                                        {{{__ "homePage.section1.subtitle3"}}}
                                    </h3>   
                                    <p class="wow fadeInUp animated" data-wow-delay="0.9s">{{__ "homePage.section1.subtitle4"}}</p>
                                    <a href="contact" class="x-btn wow fadeInUp animated" data-wow-delay="1.5s">{{__ "homePage.section1.button"}}</a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 offset-xl-1">
                                <div class="slider-img mt-50 wow fadeInRight animated" data-wow-duration="2.5s">
                                    <img src="img/slider/slider-image.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- slider-area end -->
               <!-- how-work-area  -->
               <!--
            <section class="how-work-area pos-relative pt-150 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 offset-xl-3">
                            <div class="section-title text-center mb-70">
                                <h2>{{__ "homePage.section4.title"}}</h2>
                                <p>{{__ "homePage.section4.subtitle"}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="how-work single-features text-center mb-30">
                                <div class="how-work-icon">
                                    <img src="img/icon/sf1.png" alt="">
                                </div>
                                <div class="how-work-text">
                                    <h3>{{__ "homePage.section4.card1.title"}}</h3>
                                    <p>{{__ "homePage.section4.card1.subtitle"}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="how-work single-features text-center mb-30">
                                <div class="how-work-icon">
                                    <img src="img/icon/sf2.png" alt="">
                                </div>
                                <div class="how-work-text">
                                    <h3>{{__ "homePage.section4.card2.title"}}</h3>
                                    <p>{{__ "homePage.section4.card2.subtitle"}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="how-work single-features text-center mb-30">
                                <div class="how-work-icon">
                                    <img src="img/icon/sf3.png" alt="">
                                </div>
                                <div class="how-work-text">
                                    <h3>{{__ "homePage.section4.card3.title"}}</h3>
                                    <p>{{__ "homePage.section4.card3.subtitle"}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>-->
            <!-- how-work-area -->
            <!-- access-area -->
            <section class="access-area pos-relative">
                <div class="shape-section">
                    <img class="shape shape-a " src="img/shape/shape6.png" alt="">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-12">
                            <div class="access-img wow fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="text-align-last: end;">
                                <img src="img/bg/social-bg.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6">
                            <div class="acces-text pt-35">
                                <img src="img/icon/access-icon.png" alt="">
                                <h3>{{__ "homePage.section3.title"}}</h3>
                               <p style="font-size:large">{{{__ "homePage.section3.subtitle"}}}</p>
                              <!--  <div data-aos="fade-up">
                                    <a href="#/about" class="x-btn" >{{{__ "homePage.section3.button"}}}</a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- access-area end -->

         

            <!-- access-area -->
            <section class="access-area pos-relative fix">
                <div class="shape-section">
                    <img class="shape shape-sf " src="img/shape/shape-f-1.png" alt="">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 pr-0">
                            <div class="acces-text pt-35 mb-30">
                                <img src="img/icon/access-icon.png" alt="">
                                <h3>{{__ "homePage.section5.title"}}</h3>
                                <p style="font-size:large">{{__ "homePage.section5.subtitle"}}</p>
                                <div data-aos="fade-up">
                                    <a href="about" class="x-btn" >{{__ "homePage.section5.button"}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-7 offset-xl-2">
                            <div class="access-img access-img-2 mb-30 wow fadeInRight animated" data-wow-duration="1.5s" data-wow-delay=".5s">
                                <img src="img/bg/right-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- access-area end -->
            <!-- testimonial-area -->
            <section class="testimonial-area pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="testimonial-img mb-30 wow fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s">
                                <img style="padding-left: 300px" src="img/bg/test.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-9 offset-xl-1 pr-0 pos-relative">
                            <div class="shape-section">
                                <img class="shape shape-t " src="img/shape/shape6.png" alt="">
                            </div>
                            <div class="section-title title-black pt-80">
                                <h2>{{{__ "homePage.section6.title"}}}</h2>
                            </div>
                            <div class="testimonial-active owl-carousel mb-30">
                               <div class="single-testimonial">
                                    <p>{{__ "homePage.section6.card1.title"}}</p>
                                    <span>{{__ "homePage.section6.card1.subtitle1"}}<b> {{__ "homePage.section6.card1.subtitle2"}}</b></span>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- testimonial-area end -->
    </body>
</html>
