<!doctype html>
<html class="no-js" lang="">

<body>
    <main>
        <!-- page-title-area start -->
        <div class="page-title-area pos-relative gray-bg pt-90 pb-60 fix background-black">
            <!-- style="background-image: url(img/bg/page-title-bg.jpg);"-->
            <div class="shape-slider">
                <img class="shape shape-2  " src="img/shape/shape2.png" alt="">
                <img class="shape shape-4 " src="img/shape/shape3.png" alt="">
                <img class="shape shape-5 " src="img/shape/shape-sq.png" alt="">
                <img class="shape shape-6 " src="img/shape/shape-c-2.png" alt="">
            </div>
            <div class="container padding-cero">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="page-title mb-30">
                            <h3 class="title-padding" style="color:rgb(255, 255, 255)">{{__
                                "portfolioPage.section1.title"}}</h3>
                            <p style="color:white">{{__ "portfolioPage.section1.subtitle"}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- page-title-area end -->


        <!-- portfolio-area -->
        <div class="portfolio-area pt-150 pb-120">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-12">
                        <div class="portfolio-menu mb-50">
                            <button class="active" data-filter="*">{{__ "portfolioPage.section2.field1"}}</button>
                            <button data-filter=".cat1">{{__ "portfolioPage.section2.field2"}}</button>
                            <button data-filter=".cat2">{{__ "portfolioPage.section2.field3"}}</button>
                            <!--<button data-filter=".cat3">illustration</button>
                                <button data-filter=".cat4">photoshop</button>-->
                        </div>
                    </div>
                </div>
                <div class="row grid text-center">

                    <div class="col-xl-2 col-lg-4 col-md-6 grid-item cat1 mb-30">
                        <a href="https://hivedemo1.xyz/">
                            <div class="xn-portfolio">
                                <div class="xn-portfolio-thumb grad-overlay">
                                    <img src="img/portfolio/01.png" alt="">
                                    <div class="port-view">
                                        <h3>The Tiny Furniture</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 grid-item cat1 mb-30">
                         <a href="https://hivedemo2.xyz/">
                        <div class="xn-portfolio">
                            <div class="xn-portfolio-thumb grad-overlay">
                                <img src="img/portfolio/02.png" alt="">
                                <div class="port-view">
                                    <h3>Start.ly</h3>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 grid-item cat1  mb-30">
                         <a href="https://hivedemo3.xyz/">
                        <div class="xn-portfolio">
                            <div class="xn-portfolio-thumb grad-overlay">
                                <img src="img/portfolio/03.png" alt="">
                                <div class="port-view">
                                    <h3>Sheipa</h3>
                                </div>
                            </div>
                        </div>
                         </a>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 grid-item cat1 mb-30">
                         <a href="https://hivedemo4.xyz/">
                        <div class="xn-portfolio">
                            <div class="xn-portfolio-thumb grad-overlay">
                                <img src="img/portfolio/04.png" alt="">
                                <div class="port-view">
                                    <h3>Colors Studio</h3>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 grid-item cat1 mb-30">
                        <a href="https://hivedemo5.xyz/">
                        <div class="xn-portfolio">
                            <div class="xn-portfolio-thumb grad-overlay">
                                <img src="img/portfolio/05.png" alt="">
                                <div class="port-view">
                                    <h3>Koffe</h3>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 grid-item cat1 mb-30">
                        <a href="https://hivedemo6.xyz/">
                        <div class="xn-portfolio">
                            <div class="xn-portfolio-thumb grad-overlay">
                                <img src="img/portfolio/06.png" alt="">
                                <div class="port-view">                                  
                                    <h3>Rubick Haircuts</h3>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>